.lista-personagens {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
    gap: 2rem;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

@media (min-width: 1280px) {
    .header-container {
        justify-content: flex-start;
    }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.personagem-img {
    border-radius: 1rem;
    height: 200px;
    object-fit: cover;
}

.card-info {
    display: grid;
    grid-template-columns: 1fr 48px;
}

.card-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.personagem-nome {
    font-size: 1rem;
    font-weight: bold;
}

.personagem-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.saiba-mais {
    margin-top: auto;
}